<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>DayAgend | {{ daySelected?.name}}</span>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="aside-container">
    <mat-drawer mode="side" #drawer opened>
        <mat-list>
            @for(day of getDays$ | async; track day.id) {
            <mat-list-item (click)="selectDay(day)">{{ day.name }}</mat-list-item>
            <mat-divider></mat-divider>
            }
        </mat-list>

        <button class="new-day-button" mat-fab color="primary" (click)="newDay()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-drawer>

    <mat-drawer-content>
        @if(daySelected) {
        <div id="container">

            <app-date></app-date>

            <div class="widget">
                <app-timer [dayId]="daySelected.id"></app-timer>
            </div>

            <button class="add-widget-button" mat-fab color="primary" (click)="addWidget()">
                <mat-icon>add</mat-icon>
            </button>

        </div>
        }
    </mat-drawer-content>
</mat-drawer-container>