/* Mat toolbar */
mat-toolbar {
    .example-spacer {
        flex: 1 1 auto;
    }
}

/* Sidebar */
mat-drawer-container {
    height: calc(100vh - 64px);

    mat-drawer {
        min-width: 250px;
        overflow-y: auto;

        mat-list {
            padding: 0;

            mat-list-item:hover {
                background-color: rgb(221, 221, 221);
                cursor: pointer;
            }
        }

        .new-day-button {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
        }
    }

    mat-drawer-content {
        background-color: #f2f9f9;
        overflow-y: auto;
    }
}

/* content */
#container {
    max-width: 800px;
    margin: auto;
    padding: 10px;

    #main-title {
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 3em;
    }
}

.widget {
    margin-bottom: 30px;

    .header {
        display: flex;

        h2 {
            flex: 1;
        }

        .btn-plus-widget {
            width: 30px;
            height: 30px;
        }
    }

}

.add-widget-button {
    bottom: 10px;
    right: 10px;
    position: fixed;
    width: 40px;
    height: 40px;
}