<mat-card>
    <mat-card-content>
        <div class="clock">
            <div class="timer">
                <div>
                    {{ convertToTime(elapsed) }}
                </div>
                <div class="controls">
                    <button (click)="startTimer()" mat-mini-fab color="primary">
                        <mat-icon>play_arrow</mat-icon>
                    </button>

                    <button (click)="stopTimer()" mat-mini-fab color="accent">
                        <mat-icon>pause</mat-icon>
                    </button>

                    <button (click)="resetTimer()" mat-mini-fab color="warn">
                        <mat-icon>stop</mat-icon>
                    </button>
                </div>
            </div>

        </div>

        <div class="tracker">
            <form>
                <mat-form-field class="full-field" (keydown.enter)="saveTrack()">
                    <mat-label>Track name</mat-label>
                    <input matInput placeholder="New track" [formControl]="trackName">
                </mat-form-field>
            </form>
            <div class="timed">
                <p *ngFor="let track of trackedTimes$ | async"> <!-- (click)="selectTrack(track)" -->
                    <b>{{convertToTime(track.elapsed)}}</b>
                    {{track.name}}
                </p>
            </div>
        </div>
    </mat-card-content>
</mat-card>